@tailwind base;
@tailwind components;
@tailwind utilities;

/* Referenced some default colors in tailwindcss */
/* and the website https://mycolor.space */
@layer {
  :root {
    --background: #e5e7eb;
    --foreground: #030712;
    --border: #3c3a40;
  }

  .dark {
    --background: #141218;
    --foreground: #fbf8ff;
    --border: #3c3a40;
  }
}

@layer base {
  * {
    @apply text-[color:--foreground] border-[color:--border] transition-colors duration-200;
  }

  body {
    @apply bg-[--background];
  }
}
